.idea/workspace.xml
.idea/copyright
.idea/uiDesigner.xml
.idea/libraries
.idea/dictionaries
.idea/dataSources/*
target
out
.class
*.db
/bpel/TravelGoodCA/test/results/
/bpel/TravelGood/build/
/bpel/TravelGood/nbproject/private/
/bpel/TravelGoodCA/nbproject/private/
/bpel/TravelGoodCA/build/
/bpel/TravelGoodCA/dist/
/bpel/TravelGoodCA/src/jbiServiceUnits/